# Hide IDE files
build
**/CMakeFiles
**/CMakeCache.txt
**/.vscode
**/.idea

# Fix curl build issues for clion windows, by keeping a couple of dlls tracked. Done in pairs because git doesn't allow unignoring a while path at a time...
**/cmake-build-debug
!cmake-build-debug

cmake-build-debug/*
!cmake-build-debug/src

cmake-build-debug/src/*
!cmake-build-debug/src/libcurl-d.dll
!cmake-build-debug/src/zlibd1.dll


############################################# Below is default stuff #############################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
